# réglages spécifiques à Windows pour ne pas installer une dépendence et éviter des conflits
.npmrc
*.code-workspace
.eleventyignore
src/assets/imagesToProcess/*
hashes_js.json
.eleventyignore

dist

.cache

.DS_Store
**/.DS_Store

# Logs
logs
*.log
npm-debug.log*



# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.test


