---
title: Site en construction.
layout: base
date: 2020-08-05
permalink: truchet.html
---
<div class="flex flex-wrap w- ">

	{% for i in range(0, 5) %}

		<canvas id="truchet-{{i}}" class="m-2" ></canvas>

	{% endfor %}

</div>
<script  src="/assets/scripts/truchet_core.js" defer ></script>
<script  src="/assets/scripts/truchet_dom.js"  ></script>