@layer utilities {
	.link-hover {
		text-decoration: underline;
		text-decoration-color: transparent;
		transition-duration: .3s;
		transition-property: all;
		transition-timing-function: cubic-bezier(.4, 0, .2, 1);

		&:hover {
			text-decoration-color: inherit;
		}
	}

		a,li a,dd a {
		text-decoration-skip-ink: auto;
	}
}


@layer components {

	.input {
		@apply block w-full focus:border-blue px-4 py-3 mt-1 mb-6 text-lg placeholder-gray-500 transition-all duration-150 ease-in-out rounded-md shadow-sm lg:mb-8
	}

	.label {
		@apply text-lg md:text-xl my-2 text-gray-700
	}

	.label-sm {
		@apply text-lg md:text-lg my-2 text-gray-600
	}


	/* TODO :  créer style "gros lien" qui n'ait pas une gueule de bouton */
	.cta {
		@apply text-center mx-auto md:mx-0 block w-5/6 sm:w-1/3 py-4 text-lg no-underline font-bold tracking-wide text-white transition-all duration-75 active:text-blue active:bg-gray-200 rounded-lg shadow-lg bg-blue-light hover:bg-blue-lighter hover:shadow-xl max-w-[576px];
	}

	.cta:hover {
		color: white !important
	}

	#content .post-main .cta {
		@apply text-white no-underline py-6 text-xl font-bold m-auto block w-1/2
	}

	.cta-secondary {
		@apply relative inline-flex items-center px-4 py-2 text-sm font-medium leading-5 text-gray-600 transition duration-150 ease-in-out border border-gray-300 rounded-md hover:text-brown-light hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:border-brown-light
	}


	.cta-card {
		@apply text-lg font-normal leading-6 lg:leading-7 lg:text-xl text-brown-light
	}

	.cta-link {
		@apply text-xl font-medium leading-7 lg:text-2xl hover:underline hover:text-orange
	}
}