


/*.article {
	 .heading-wrapper {
		display: flex;
		position: relative;
			& .header-anchor:hover::before, & .header-anchor:focus::before {
			content:'§︎';
			position: absolute;
			left:-1.5em;

			@apply text-accent2;
		}
			& .header-anchor {
				text-decoration: none;
			}
	}

}*/

.article {
	 .heading-wrapper {
		display: flex;
		position: relative;
		padding-left: 2em;
		left: -2em;
		align-items: center;
		&:hover .header-anchor   {
			display: inline-block;
		}
		> * {
			margin:0
		}
	}
	.header-anchor  {
		position: absolute;
		left:0;
		display: none;
		padding:0 .5em;
		font-size:1.2em;
		@apply text-accent2;
	}
}



