


.article {
	 h2, h3, h4, h5 {
		display: flex;
		position: relative;
			& .header-anchor:hover::before, & .header-anchor:focus::before {
			content:'§︎';
			position: absolute;
			left:-1.5em;

			@apply text-accent2;
		}
			& a.header-anchor {
				text-decoration: none;
			}
	}

}



