@layer components {
	.card-base:hover a {
			text-decoration-color: inherit;
		}

	.card-shadow-hover {
		@apply hover:shadow-flat
	}

	.card-base {
		@apply flex items-center p-0 rounded-md  gap-6 lg:gap-10 bg-cream shadow-md transition-all duration-300
	}

	.card-item {
		@apply	my-2 w-full sm:w-1/2 md:w-1/3
	}

	.card-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
		margin-bottom: 2rem;
		@apply gap-16
	}

		.info-block{
		@apply flex flex-col p-6 gap-6  my-8 justify-center items-start;
		@apply md:flex-row md:px-0 md:gap-16 md:items-center;
		@apply bg-cream flex justify-center
	}
}