@theme {
	--colors-roi: 'hsl(202, 78%, 16%)';
	--colors-roi-light: 'hsl(202, 70%, 20%)';
	--colors-roi-lighter: 'hsl(217,32%,32%)';
	--colors-roi-bluer: 'hsl(210, 83%, 22%)';
	--colors-roi-bluest: 'hsl(210, 86%, 25%)';
	--colors-vermillon: 'hsl(5, 77%, 37%)';
	--colors-marron: 'hsl(30.8, 95%, 17.3%)';
	--colors-marron-light: 'hsl(31, 67%, 34%)';
	--colors-orange: 'hsl(36, 100%, 50%)';
	--colors-creme: '#fff4ed'
}