@layer base {

	.container-page {
		@apply max-w-6xl my-16 lg:mx-auto lg:max-w-7xl 2xl:max-w-9xl
	}

	.container-prose {
		@apply max-w-screen-xl m-auto lg:max-w-prose;
	}

	.prose-tcqb {
		@apply prose lg:prose-xl prose-lg;
	}

	.layout-wide {
		@apply max-w-6xl m-auto lg:max-w-7xl 2xl:max-w-9xl md:max-w-none
	}

	.container-wide {
		margin-left: calc(30% - 30vw);
		margin-right: calc(30% - 30vw);
		position: relative;

		img {
			width: auto;
			margin: 0
		}
	}

	#content {
		min-height: 20em;
	}

	.container-full {
		width: 100vw;
		position: relative;
		margin-left: -50vw;
		left: 50%;
	}


	body {
		background-color: #fdfcfb;
		overflow-x: hidden;
		h1,
		h2,
		h3,
		h3,
		h5 {
			padding: 0;
			font-family: 'Brandon Display'
		}
	}

	dt {
		@apply text-brown font-bold
	}

	dl {
		display: flex;
		flex-direction: column;
		gap: 0rem;
	}


	[x-cloak] {
		display: none !important;
	}
}

@layer utilities {

	.block-dark {
		@apply text-gray-50;

		h1,
		p {
			@apply text-gray-50;
		}

		& a:hover {
			@apply text-orange;
		}
	}

	.decor-dark {
		position: absolute;
		width: 100vw;
		z-index: -1;
		overflow: hidden;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		/*	box-shadow: 0px 3px 8px 1px #132233ad;
*/
	}

	.decor-light {
		position: absolute;
		width: 100vw;
		height: 100%;
		z-index: -1;
		overflow: hidden;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		background: #fcf3ed
	}

	.thread article p:first-child {
		margin-top: 0;
	}

	.thread .QT-list .tweet-left {
		@apply lg:pl-12
	}

	.block-heading-split {
		@apply flex flex-col items-start sm:items-center justify-between mb-4 md:mb-6 sm:flex-row
	}


	.small-caps {
		font-variant: small-caps !important;
	}

}