
/* Image Grid */
.rich-picture {
  grid-column: 1;
}

.tmpl-post .rich-picture figure {
  grid-column: unset;
  margin: 0;
}

@media (min-width: 45rem) {
  .rich-picture {
    grid-column: content-gutter-start / content-gutter-end;
  }
}

.rich-picture  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  padding: 0;
  justify-content: center;
  @apply md:gap-4;
}

.rich-picture figure > a {
  display: block;
  line-height: 0;
 /* height: 200px;
  max-height: 200px;*/
}

.rich-picture  > figure img {
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}


.pswp .pswp--zoom-allowed  .pswp__button.pswp__button--zoom {
  display: none;
}

.prose .rich-picture li:before
{
content:none

}



@supports (grid-template-rows: masonry) {
  .rich-picture {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
  }

  .rich-picture figure a {
    height: unset;
    max-height: unset;
  }

  .rich-picture > figure  img {
    width: unset;
    height: unset;
    max-height: unset;
    object-fit: unset;
    object-position: unset;
  }
}

@media screen and (min-width:1024px){
	.img-wrapper {
		margin-top: 4%;
	}
	.hero-split img, .hero-split video {
		width: auto;
		max-height: 60vh;
		align-self: flex-start;
    min-height: 312px;
  max-width:90%;
    object-fit: cover;

}
}

@media screen and (max-width:1024px){

	.hero-split img, .hero-split video {
		width: auto;
		height: inherit;
		max-height: 48vmax;
		align-self: flex-start;
	}
}


@media screen and (min-width:1300px){

	.hero-split img, .hero-split video {
    min-height: 500px;

}
}

/*@media screen and (min-width:768){
	.hero-split img {
		width: auto;
		height: inherit;
		max-height: 15vmin;
	}
}*/

.article.prose figure img {
    margin: auto !important;
}


.article img, .article video, .article iframe {
	margin:auto
}
