@import "./fonts.scss";
@import "./article.scss";
@import "./images.scss";
@import "./prism-okaidia.css";
@import "./tailwind.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;



/* TOTO libellés flottant
.field.filled ~ label, .field:focus ~ label, span .field.filled ~ label, span .field:focus ~ label {
top: .1em;
color: grey;
font-size: 15px;
}
 */