	.page-portfolio input[type="radio"]:checked + label {
	@apply bg-accent text-white;
	}

	.page-portfolio .metadata {
		display:none;
	}

	.page-portfolio .details {
		grid-template-columns: 3fr 2fr;
		@apply gap-7
	}

	.page-portfolio dt {
		text-transform: uppercase;

	}

	.page-portfolio dl {
		display: flex;
		flex-direction: column;
		gap: 0rem;
	}