	.page-portfolio input[type="radio"]:checked + label {
	@apply bg-accent text-white;
	}
	sections > * {
	margin: auto !important;
	}

	.page-portfolio section h2 {
		@apply text-dark-light text-2xl lg:text-3xl font-bold
	}
	.page-portfolio .metadata {
		display:none;
	}

	.page-portfolio .details {
		grid-template-columns: 3fr 2fr;
		@apply gap-7
	}

	.page-portfolio dt {
		@apply text-accent3 font-medium
	}

	.page-portfolio dl {
		display: flex;
		flex-direction: column;
		gap: 0rem;
	}



	.small-caps {
		font-variant: small-caps !important;
	}


	.page-portfolio h1 {
		line-height: 1.2 !important;
		font-family:  brandon !important;

	}