@layer base {


/* TITRAILLE DE BASE */

    h1 {
        @apply font-bold text-gray-700 text-4xl;
    }

    h2 {
        @apply font-bold text-gray-700 pt-12 text-2xl lg:text-3xl;
    }

    h3 {
        @apply text-2xl font-bold text-gray-700;
    }

    h4 {
        @apply text-xl font-bold text-gray-500;
    }

    h5 {
        @apply text-lg font-bold text-gray-500;
    }

    h1,
    h2,
    h3,
    h3,
    h5 {
        font-family: "Brandon display";
    }
}


/* titraille alternative pour titres cliquables  */


@layer utilities {

	.cta-heading, .prose .cta-heading, .prose-tcqb .cta-heading {
		margin: inherit;
		@apply text-lg-bis md:text-3xl font-medium leading-7 2xl:leading-10 2xl:text-4xl;
		color: var(--color-marron)
	}

	.cta-heading2 {
		@apply text-lg-bis md:text-2xl font-medium leading-6 md:leading-6 xl:leading-7 lg:text-3xl;
		color: var(--color-marron)

	}

	.cta-heading3 {
		@apply text-2xl font-medium leading-7 hover:underline;
		color: var(--color-marron)

	}
}


@utility prose {
	h4 {
        margin-bottom:0
    }

	h1 {
		color: inherit;
		font-size: 2em;
		line-height: 1.1;
	}
	h2 {
		margin-top: 1.5em;

	}
	h3 {
		margin-top: 1.4em;
		color: var(--colors-gray-700);
	}
	h4 {
		color: var(--colors-gray-700);

	}
}


@utility prose-xl {
	h1 {
		line-height: 1.2;
	}
	h3 {
		margin-top: 1.4em;
		color: var(--color-gray-700)
	}
}

@utility prose-lg {

	h1 {
		color: inherit;
		font-size: 2.2em;
		line-height: 1.1
	}
	h2 {
		margin-top: 1.3em;
		margin-bottom: 0.5em
	}
	h3 {
		margin-top: 1.4em;
	}
}




    /* HEADINGS ANCHORS */

@layer utilities{
	@media only screen and (min-width:640px) {
		#content {
			h2, h3, h4  {
				position: relative;
				left: -2em;
				padding-left: 2em;

				&:hover .header-anchor {
					display: inline-block;
				}
			}
			.header-anchor {
				position: absolute;
				left: 0.5em;
				display: none;
				font-size: .85em;
				color: var(--color-marron-light)

			}
		}
	}


	@media only screen and (max-width:639px) {
		.prose {
			.header-anchor {
				display: none;
			}
		}
	}
}