@layer base {
	[x-cloak] {
		display: none !important;
	}
}

@theme {
	--text-xl-bis: 1.65rem;
	--text-lg-bis: 1.4rem
}

@layer utilities {

	.block-dark {
		@apply text-gray-50;

		h1,
		p, span, time, li {
			@apply text-gray-50;
		}

		& a:hover {
			color: var(--color-orange);
		}
	}

	.decor-dark {
		position: absolute;
		width: 100vw;
		z-index: -1;
		overflow: hidden;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		/*	box-shadow: 0px 3px 8px 1px #132233ad;
*/
	}

	.decor-light {
		position: absolute;
		width: 100vw;
		height: 100%;
		z-index: -1;
		overflow: hidden;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		background: #fcf3ed
	}

	.thread article p:first-child {
		margin-top: 0;
	}

	.thread .QT-list .tweet-left {
		@apply lg:pl-12
	}

	.block-heading-split {
		@apply flex flex-col items-start sm:items-center justify-between mb-4 md:mb-6 sm:flex-row
	}

	.small-caps {
		font-variant: small-caps !important;
	}

	.text-shadow-default {
		text-shadow:'0px 0px 1px rgb(0 0 0 / 20%), 0px 0px 1px rgb(1 0 5 / 10%)';
	}
	.text-shadow-sm {
		text-shadow:'1px 1px 3px rgb(36 37 47 / 25%)';
	}
	.text-shadow-md {
		text-shadow:'0px 1px 2px rgb(30 29 39 / 19%), 1px 2px 4px rgb(54 64 147 / 18%)';
	}
	.text-shadow-lg {
		text-shadow:'3px 3px 6px rgb(0 0 0 / 26%), 0 0 5px rgb(15 3 86 / 22%)';
	}
	.text-shadow-xl {
		text-shadow:'1px 1px 3px rgb(0 0 0 / 29%), 2px 4px 7px rgb(73 64 125 / 35%)';
	}

	.text-shadow-lg-blue {
		text-shadow:  3px 6px rgb(0 0 0 / 46%), 0 0 5px rgb(15 3 86 / 42%)}


	.hover:shadow-flat {
		box-shadow: 0 4px 5px 0px rgba(100,0,0,0.25);
	}

}
/*	.shadow-lg-blue	{
		box-shadow:  1.3px 1.9px rgba(0, 0, 0, 0.1),  0 3.3px 4.9px rgba(0, 0, 0, 0.133),  0 6.7px 9.9px rgba(0, 0, 0, 0.167),  0 13.9px 20.4px rgba(0, 0, 0, 0.207),  0 38px 56px rgba(0, 0, 0, 0.2);}

	}*/


