---
title: "Désolé j'ai vraiment cherché partout"
hideMeta: true
layout: post
permalink: erreur.html
eleventyExcludeFromCollections: true

---

<div class="m-auto prose prose-2xl">
	<p class="text-center ">Sinon les articles sont tous sur <a href="/blog">cette page</a>. Bon courage dans votre quête.</p>
	<img alt="Bugs Bunny disant 'Je savais que j'aurais du tourner à gauche à Alburquerque'"
src="/assets/images/bugs.png" class="w-2/3 mx-auto">

</div>