---
title: Tous les articles
date: 2020-08-05
layout: page
eleventyNavigation:
  key: main
  title: Textes
  order: 1
pagination:
  data: collections.publishedPosts
  size: 30
  alias: posts
  reverse: true
postListItemStyle:
  complete: true
  showPagination: true
permalink: "/{{page.fileSlug}}/{% if pagination.pageNumber %}{{ pagination.pageNumber}}/{% endif %}"
---
<div class="blog-wrapper">

  <noscript>
    <p>Désolé, la recherche requiert Javascript pour fonctionner.</a>
  </p>
</noscript>
<form class="search " id="search-form" aria-controls="post-list">
  <div class="flex flex-col sm:w-1/2 field">
    <label for="searchField" class="mt-0 label">Rechercher</label>
    <div class="relative">
      <input type="search"  class="w-full p-2 border-gray-600 rounded-md " placeholder="" id="searchField"/>
      <input type="image" name="submit" src="/assets/UI/search.svg" alt="" class="absolute h-10 p-2 right-2">
    </div>
  </div>
  <p id="noResultsFound" class="hidden py-4 text-base" role="alert">
      Aucun résultat.
    </p>
</form>
{% set postslist = posts %}

{% include 'components/posts_list.njk' %}
<div class=" 2xl:container-wide">
  <h1 class="mt-16 mb-6 text-gray-700">Tous les thèmes</h1>
  {% set tags = collections.tagList %}
  {% include "components/tags_pills.njk" %}
</div>
</div>
<script  src="/assets/scripts/nunjucks-slim.js"></script>
<script  src="/assets/scripts/precompiled_search.js"></script>

<script  src="/assets/scripts/{{hashes_js['search_front.js']}}" defer></script>