---
title: Bon bah salut, moi c'est Baptiste
altTitle: Accueil
layout: page
date: 2020-08-05
permalink: index.html
postListItemStyle:
  complete: false
  showPagination: false
---

<div class="flex flex-col gap-8 m-auto sections sm:gap-24" >


{# RÉCENTS #}
  <section class="">
    <div class="block-heading-split ">
      <h2 class="">Bafouilles récentes</h2>
      {% ctaLink "Voir tout", "/blog" %}
    </div>

      {% set postslist = collections.publishedPosts | reverse | slice(0, 3) %}

    <ul class="flex flex-col gap-8 post-list">
    {%- for post in postslist -%}
    	{% include 'components/posts_list_item.njk' %}

  {%- endfor -%}
    </ul>
  </section>


{# FEATURES #}
  <section class="">
    <div class="block-heading-split ">
      <h2  class="">Bafouilles dont je suis content</h2>
      {% ctaLink "Voir tout", "/tags/featured" %}
    </div>
    <ul class="flex flex-col gap-8 post-list">
    {%- for post in collections.featured | shuffle |  slice(0, 3) -%}
    	{% include 'components/posts_list_item.njk' %}
  {%- endfor -%}
    </ul>
  </section>


{# PROJETS #}
  <section class="">
    <div class="block-heading-split ">
      <h2 class="">Bidouilles</h2>
          {% ctaLink "Voir tout", "/projets" %}

    </div>

    <ul class="max-w-lg gap-8 m-auto post-list md:gap-6 2xl:gap-8 md:m-0 md:max-w-none card-container project-list">
      {# TODO : rendre dynamique avec serverless ? #}
      {% for projet in projects | reverse | slice(0, 6) %}
        	{% include 'components/project.njk' %}

    {% endfor %}
    </ul>
  </section>


   <div class="flex flex-col sm:grid card-container">

   {# AILLEURS #}

    {% include 'components/elsewhere_links.njk' %}




  </div>
</div>
<script type="module" src="/assets/scripts/{{hashes_js['snow.js']}}"></script>
<script type="module" src="/assets/scripts/{{hashes_js['island.js']}}"></script>
<script>
  const listener =  (e) => {
    document.body.querySelector('snow-fall').style.opacity=0;
    document.body.removeEventListener("click", listener, false);
}
  document.body.addEventListener("click", listener, false)

</script>
<is-land style="--snow-fall-color: rebeccapurple" on:media="(prefers-reduced-motion: no-preference)">
	<snow-fall></snow-fall>
</is-land>
