---
title: Bon bah salut, moi c'est Baptiste
altTitle: Accueil
layout: page
date: 2020-08-05
permalink: index.html
postListItemStyle:
  complete: false
  showPagination: false
---

<div class="flex flex-col gap-12 m-auto sections md:gap-14 lg:gap-24" >

{# RÉCENTS #}
  <section class="">
    <div class="block-heading-split ">
      <h2 class="">Bafouilles </h2>
      {% ctaLink "Voir tout", "/blog" %}
    </div>

      {% set postslist = collections.publishedPosts | reverse | slice(0, 3) %}

    <ul class="flex flex-col gap-6 sm:gap-8 md:gap-6 post-list">
    {%- for post in postslist -%}
    	{% include 'components/posts_list_item.njk' %}

  {%- endfor -%}
    </ul>
  </section>


{# FEATURES #}
  <section class="">
    <div class="block-heading-split ">
      <h2  class="">Bafouilles dont je suis content</h2>
      {% ctaLink "Voir tout", "/tags/featured" %}
    </div>
    <ul class="flex flex-col gap-6 sm:gap-8 md:gap-6 post-list">
    {%- for post in collections.featured | shuffle |  slice(0, 3) -%}
    	{% include 'components/posts_list_item.njk' %}
  {%- endfor -%}
    </ul>
  </section>


{# PROJETS #}
  <section class="">
    <div class="block-heading-split ">
      <h2 class="">Bidouilles</h2>
          {% ctaLink "Voir tout", "/projets" %}

    </div>

    <ul class="max-w-lg gap-6 m-auto sm:gap-8 md:gap-6 post-list 2xl:gap-8 md:m-0 md:max-w-none card-container project-list">
      {% for project in projects | reverse | slice(0, 6) %}
        	{% include 'components/project.njk' %}

    {% endfor %}
    </ul>
  </section>


   <div class="flex flex-col sm:grid card-container">

   {# AILLEURS #}

    {% include 'components/elsewhere_links.njk' %}




  </div>
</div>