<div
class="flex flex-col gap-5 my-5"
	x-data="{niveauDeLangue, state: niveauDeLangue[1].description}"
>
	<div class="inline-flex overflow-hidden rounded-full bg-accent-light ">
		<template x-for="radio in niveauDeLangue">
			<div
		>
				<input
					type="radio"
					class="hidden"
					:id="radio.id"
					:value="radio.description"
					:name="name"
					x-model="state"
				/>
				<label
				:for="radio.id"
				class="block px-4 py-1 mr-1 rounded-full cursor-pointer hover:bg-accent2 hover:text-white"
				x-text="radio.label"
				></label>
			</div>
		</template>
	</div>
	<p class="" x-text="state"></p>
</div>
<script src="//unpkg.com/alpinejs" defer></script>
<script >
const niveauDeLangue = [
	{ id: "radio-tab-a", label: "Tendance", description: "J’utilise les pouvoirs de la Créativité pour créer des CX holistiques et des interfaces delightful" },
	{ id: "radio-tab-b", label: "Terre à terre", description: "J’aide à créer des systèmes à peu près robustes, utiles et utilisables" },
	{ id: "radio-tab-c", label: "Effacé", description: "Je pose des carrés gris dans Figma et des post-its sur les murs" },
]
</script>


