---
layout: base
title: "Baptiste, 34 ans ½, designer UX"
hero:
  type: split
  image: maxwell.jpg
eleventyNavigation:
  key: main
  title: Portfolio
  order: 2
---
<div class="max-w-6xl mb-16 text-lg leading-7 lg:text-xl lg:mx-auto lg:max-w-7xl 2xl:max-w-9xl template-post-main">

  {% include 'components/hero-split.njk' %}


<div class="sections">
  <section>
    {% markdown %}
## Ça veut dire quoi designer UX ?
    {% endmarkdown   %}

    {% include "src/pages/portfolio-tab.njk" %}

    {% markdown %}

## Mais encore ?

1. *Étudier* les utilisateurs
2. Pour *imaginer* des solutions adapter
3. *Concevoir* la traduction de ces solutions en interfaces
4. Et *tester* l’ensemble


blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla

Points forts
- fonctionnel
- research
- ateliers

Bonus
  - Auditeur en accessibilité
  - [Intervenant à Épitech](http://misc.toutcequibouge.net/Epitech) (cours d'intro à l'UX, design sprints...)
  - [Dev en dilettante](https://toutcequibouge.net/projets/)

Intéressé-e ?

[Contactez-moi](/contact){.cta}

    {% endmarkdown %}
  </section>

    {# CLIENTS #}

  <section class="">

    <h2 class="mb-4 cta-heading md:mb-6">Clients </h2>
    <div class="flex-col items-start p-7 card-base">
      <ul class="flex flex-col items-start gap-8" >
      {% for client in clients %}

        <li class="flex flex-col w-full m-0 list-none md:flex-row gap-7">
          <span class="text-xl font-medium list-none md:text-right text-accent3 sector basis-1/4 shrink-0 ">{{client.sector}}</span>
          <ul class="flex flex-col flex-wrap m-0 md:items-center gap-y-2 gap-x-2 xl:gap-x-3 sm:flex-row " >
                {% for item in client.list %}
            <li class="m-0 text-xl list-none ">
              {{item}}
            </li>
            {% if not loop.last %}
            <span aria-hidden="true" class="hidden text-xl sm:inline " >~</span>
            {% endif %}
                {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>


    {# PROJETS #}

  <section class="">
    <h2 class="mb-4 cta-heading md:mb-6">Quelques projets</h2>
    <ul class="flex flex-col max-w-lg gap-8 m-auto post-list md:gap-6 2xl:gap-8 md:m-0 md:max-w-none project-list">
      {% for ref in refs  %}
          <li class="flex-col card-base p-7">
            <div class="flex flex-row items-center justify-between w-full">
              <h3 class="text-accent3">{{ref.title}}</h3>
              <img src="{{ref.logo}}" alt="{{ref.name}}">
            </div>

            <div class="flex lg:grid details ">
              <div class="flex flex-col gap-5 lg:gap-7">
                <dl>
                  <dt>Description</dt>
                  <dd>{{ref.description | markdownifyBlock | safe}}</dd>
                </dl>
                <dl>
                  <dt>Durée</dt>
                  <dd>{{ref.durée}}</dd>
                </dl>
                <dl>
                    <dt>Ce que j'ai fait</dt>
                  <dd>
                      <ul class="inline tagpills">
                        {% for tag in ref.tasks %}
                            <li class="inline-block my-auto">
                              {{ tag }}
                              {% include "../_templates/components/separator.njk" %}
                            </li>
                        {% endfor %}
                      </ul>
                  </dd>
                </dl>
              </div>
              <div><img class="" src="{{ref.photo}}" alt=""></div>
            </div>
          </li>

    {% endfor %}
    </ul>
  </section>
</div>

</div>


