---
title: Projets, bidouilles, trucs
date: 2020-08-05
layout: page
eleventyNavigation:
  key: main
  title: Projets #  as it will appear in the nav
  order: 2    # order to display in the nav


---

<ul class="project-list " >
	{% for project in projects | reverse %}
		<li class="my-8 list-none project">
			<p class="text-2xl font-bold leading-7 text-accent2 lg:text-3xl name ">
				<a href="{{project.link}}">{{project.name}}</a>
			</p>
			{#<img class="picture" src="{{project.img}}"></img>#}
			<p class="text-lg description">{{project.description}}</p>
		</li>
	{% endfor %}
</ul>