---
title: guide de style
eleventyExcludeFromCollections: true
layout: page
eleventyNavigation:
  key: main
  title: Blog #  as it will appear in the nav
  order: 1    # order to display in the nav
draft: true


---