---
layout: page
title: "Styles"

---

<div class="flex flex-col gap-4">
	<div class="flex gap-4">
		<div class="w-24 h-24 bg-marron"></div>
		<div class="w-24 h-24 bg-marron-light"></div>
		<div class="w-24 h-24 bg-orange"></div>
		<div class="w-24 h-24 bg-creme"></div>
	</div>
	<div class="flex gap-4">
		<div class="w-24 h-24 bg-900"></div>
		<div class="w-24 h-24 bg-800"></div>
		{#		<div class="w-24 h-24 bg-red">red</div>
#}
		<div class="w-24 h-24 bg-700"></div>
		<div class="w-24 h-24 bg-600"></div>
		<div class="w-24 h-24 bg-500"></div>
		<div class="w-24 h-24 bg-400"></div>

	</div>

	<div class="flex gap-4">
		<div class="w-24 h-24 bg-roi"></div>
		<div class="w-24 h-24 bg-roi-lighter"></div>
		<div class="w-24 h-24 bg-roi-light"></div>
	</div>

	<div class="flex gap-4">
		<div class="w-24 h-24 bg-gray-900"></div>
		<div class="w-24 h-24 bg-gray-800"></div>
		<div class="w-24 h-24 bg-gray-700"></div>
		<div class="w-24 h-24 bg-gray-600"></div>
		<div class="w-24 h-24 bg-gray-500"></div>
		<div class="w-24 h-24 bg-gray-400"></div>
		<div class="w-24 h-24 bg-gray-300"></div>
		<div class="w-24 h-24 bg-gray-100"></div>
		<div class="w-24 h-24 bg-gray-50"></div>
	</div>
	<div class="flex gap-4">
		<h1 class="w-24 h-24 text-gray-900">TEST</h1>
		<h1 class="w-24 h-24 text-gray-800">TEST</h1>
		<h1 class="w-24 h-24 text-gray-700">TEST</h1>
		<h1 class="w-24 h-24 text-gray-600">TEST</h1>
		<h1 class="w-24 h-24 text-gray-500">TEST</h1>
		<h1 class="w-24 h-24 text-gray-400">TEST</h1>
		<h1 class="w-24 h-24 text-gray-300">TEST</h1>
		<h1 class="w-24 h-24 text-gray-100">TEST</h1>
		<h1 class="w-24 h-24 text-gray-50">TEST</h1>
	</div>
</div>