---
layout: page
title: "Styles"

---


<div class="flex flex-col gap-4">
	<div class="flex gap-4">
		<div class="w-24 h-24 bg-brown"></div>
		<div class="w-24 h-24 bg-brown-light"></div>
		<div class="w-24 h-24 bg-orange"></div>
		<div class="w-24 h-24 bg-cream"></div>
	</div>
		<div class="flex gap-4">
		<div class="w-24 h-24 bg-redTW-900"></div>
		<div class="w-24 h-24 bg-redTW-800"></div>
		<div class="w-24 h-24 bg-red">red</div>
		<div class="w-24 h-24 bg-redTW-700"></div>
		<div class="w-24 h-24 bg-redTW-600"></div>
		<div class="w-24 h-24 bg-redTW-500"></div>
		<div class="w-24 h-24 bg-redTW-400"></div>

	</div>

	<div class="flex gap-4">
		<div class="w-24 h-24 bg-blue"></div>
		<div class="w-24 h-24 bg-blue-lighter"></div>
		<div class="w-24 h-24 bg-blue-light"></div>
	</div>

	<div class="flex gap-4">
		<div class="w-24 h-24 bg-gray-900"></div>
		<div class="w-24 h-24 bg-gray-800"></div>
		<div class="w-24 h-24 bg-gray-700"></div>
		<div class="w-24 h-24 bg-gray-600"></div>
		<div class="w-24 h-24 bg-gray-500"></div>
		<div class="w-24 h-24 bg-gray-400"></div>
		<div class="w-24 h-24 bg-gray-300"></div>
		<div class="w-24 h-24 bg-gray-100"></div>
		<div class="w-24 h-24 bg-gray-50"></div>
	</div>
	<div class="flex gap-4">
		<h1 class="w-24 h-24 text-gray-900">TEST</h1>
		<h1 class="w-24 h-24 text-gray-800">TEST</h1>
		<h1 class="w-24 h-24 text-gray-700">TEST</h1>
		<h1 class="w-24 h-24 text-gray-600">TEST</h1>
		<h1 class="w-24 h-24 text-gray-500">TEST</h1>
		<h1 class="w-24 h-24 text-gray-400">TEST</h1>
		<h1 class="w-24 h-24 text-gray-300">TEST</h1>
		<h1 class="w-24 h-24 text-gray-100">TEST</h1>
		<h1 class="w-24 h-24 text-gray-50">TEST</h1>
	</div>
</div>