---
layout: page
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - authors
    - pages
    - post
    - projets
    - publishedPosts
    - all
    - tagList
    - listeProjets
postListItemStyle:
  complete: true
  showPagination: false
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: 'Articles à propos de : "{{ tag }}"'
---

{% set postslist = collections[tag] | published | reverse %}
{% include 'components/postslist.njk' %}