---
layout: page
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - authors
    - pages
    - post
    - travaux
    - publishedPosts
    - all
    - tagList
postListItemStyle:
  complete: true
  showPagination: false
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: 'Articles à propos de : "{{ tag }}"'
---


{% set postslist = collections[tag] | frontMatterFilter("draft") | reverse %}
{% include 'components/postslist.njk' %}
