---
layout: page
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - authors
    - pages
    - post
    - travaux
    - publishedPosts
    - all
    - tagList
postListItemStyle:
  complete: true
  showPagination: false
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: 'Articles à propos de : "{{ tag }}"'
---

{% set postslist = collections[tag] | frontMatterFilter("draft") | reverse %}

{% include 'components/postslist.njk' %}

<div class="my-16 border-t border-gray-300 container-wide">
  <h3 class="text-gray-700">Tous les mots clés</h3>
  {% set tags = collections.tagList %}
  {% set block = true %}

  {% include "components/tagpills.njk" %}

</div>