---
title: " Écheveau – Archivage de fils Twitter"
permalink: "threads/index.html"
eleventyNavigation:
  key: main
  title: Écheveau
  order: 4
hero:
  image: echeveau.jpg
  caption: "Écheveau : \"assemblage de fils de chanvre, de soie, de laine, de coton repliés en plusieurs tours, afin qu’ils ne se mêlent pas.\" Photo par [Pschemp](https://fr.wiktionary.org/wiki/%C3%A9cheveau#/media/Fichier:Yarn_hanks_or_skeins.JPG)"
---

<p class="">Tentative de rassembler ici les fils de veille thématique que je tiens (tenais ?) sur Twitter, à la fois pour les préserver et les rendre plus lisibles. Quelques compléments d'explication dans <a href="/blog/2022/12/archiver-des-fils-twitter-panorama-des-possibilites/">ce texte</a>.</p>

<ul class="flex flex-col items-start gap-6 p-0 my-8 xl:gap-8" >
  {% for thread in threads %}
    <li class="flex flex-row gap-2 list-none ">
      <span aria-hidden="true">⤳</span>
      <a
    class="cta-heading3 hover:underline hover:text-brown-light"
    href="/threads/{{thread.title | slugify}}">{{thread.title}}</a>
    </li>
  {% endfor %}
</ul>