<section class="flex-col items-start p-7 card-base">
  <h2 >Ailleurs</h2>
  <ul class="flex flex-col items-start gap-6 sm:flex-row ailleurs-list" >
    {% for item in ailleurs %}
      <li class="list-none ">
        <a
            class="cta-heading3 hover:text-marron-light"
            href="{{item.link}}" rel="me">{{item.name}}</a>
      </li>
      <div class="hidden sm:inline">
        {% include "components/separator.njk" %}
      </div>

    {% endfor %}
  </ul>
</section>