<footer role="contentinfo" class="relative h-full bg-blue px-per">

  <div class="mx-auto py-14 lg:py-24 md:flex md:items-center md:justify-between">

    <div class="flex flex-col gap-5 mx-auto mt-8 leading-6 text-center block-dark md:mt-0 md:order-1 label-sm">
      <p class="">
        Vous êtes chez Baptiste. Blogue vaillamment propulsé par Eleventy et un Raspberry Pi.
        </p>
      <p class="">
        Vos données personnelles : j'en ai pas, j'en veux pas.</p>
      <p class="flex justify-center gap-2">
        <a  class="underline" href="/rss">Abonnement RSS</a>
					{% include "components/separator.njk" %}
        <a href="/sitemap" class="underline">Plan de site</a>

      </p>
      <img  loading="lazy" class=" w-[20vmax] max-w-xs mx-auto my-8" src="/assets/UI/linotype.png" alt="Image d'ancienne imprimante Linotype, avec clavier et tabouret">

    </div>
  </div>
</footer>