<footer role="contentinfo" class="relative h-full pt-10 bg-dark px-per">

  <div class="py-12 mx-auto md:flex md:items-center md:justify-between ">

    <div class="mx-auto mt-8 text-base prose text-center prose-dark md:mt-0 md:order-1 sm:text-xl">
      <p class="leading-6 ">
        Vous êtes chez Baptiste. Blogue vaillamment propulsé par Eleventy et un Raspberry Pi.
        </p>
      <p class="leading-6 ">
        Vos données personnelles : j'en ai pas, j'en veux pas.</p>
      <p class="leading-6 ">
        <a  class="" href="/rss">Abonnement RSS</a>
        <span class="inline mx-4 text-xl font-light " >~</span>
        <a href="/sitemap">Plan de site</a>

      </p>

      <img  class=" w-[20vmax] max-w-xs mx-auto my-8" src="/assets/UI/linotype.png" alt="Image d'ancienne imprimante Linotype, avec clavier et tabouret">

    </div>
  </div>
</footer>