<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set cleanedTitle = title | removeMD %}
<title>{{  cleanedTitle }}
</title>
{% if r/^post-?/g.test(layout) %}
  {% set postImage = meta.siteURL + '/' + collatedHeroImage %}
  {% set pageURL = meta.siteURL + page.url %}
  <script type="application/ld+json" >
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{cleanedTitle  | safe}}",
      "image": "{{postImage}}",
      "publisher": {
        "@type": "Organization",
        "name": "Baptiste Roullin",
        "url": "{{meta.siteURL }}"
      },
      "url": "{{pageURL}}",
      "datePublished": "{{page.date | dateISOFormat}}",
      "dateCreated": "{{page.date | dateISOFormat}}",
      "description": "{{description | removeMD | safe}}",
      "author": {
        "@type": "Person",
        "name": "{{meta.author}}",
        "url": "{{meta.siteURL}}"
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{meta.siteURL}}/blog"
      }
    }
  </script>

  <meta property="og:image" content=" {{postImage}}"/>
  <meta name="description" content="{{ description | removeMD   }}"/>
  <meta property="og:description" content="{{ description | removeMD  }}"/>
  <meta property='og:type' content='article'/>
  <meta property='article:author' content='{{meta.author}}'/>
  <meta property='article:publisher' content='{{meta.siteURL}}'/>

{% else %}
  <meta name="description" content="{{ description | removeMD or meta.siteDescription }}"/>
  <meta property="og:description" content="{{ description | removeMD or meta.siteDescription }}"/>
  <meta property="og:image" content="{{meta.siteURL}}/{{ meta.image}}"/>
{% endif %}

{#- Open Graph #}
<meta name="author" content="{{ meta.author }}"/>
<meta property="og:site_name" content="{{ meta.siteName }}"/>
<meta property="og:title" content="{{  altTitle or cleanedTitle }}"/>
<meta property="og:url" content="{{meta.siteURL}}{{  page.url  }}"/>
<meta property="og:locale" content="{{ meta.locale }}"/>

{#- Twitter Card #}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="{{ meta.siteName}}"/>
<meta name="twitter:creator" content="{{ meta.author }}"/>
<meta name="twitter:title" content="{{ altTitle or cleanedTitle }}"/>
<meta name="twitter:description" content="{{ description or meta.siteDescription }}"/>

{#- Favicon #}
{#<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">#}
<link rel="icon" type="image/svg+xml" href="/assets/UI/favicon.svg">
<link rel="icon" type="image/png" href="/assets/UI/favicon.png" sizes="32x32">

<link type="application/atom+xml" rel="alternate"  title="RSS Feed for {{ meta.siteName }}"  href="/rss" title="{{ meta.siteName }} XML Feed">
<link rel="stylesheet" href="/assets/css/{{hashes_css['main.css']}}"/>
<script  src="/assets/scripts/{{hashes_js['main.js']}}" defer></script>

{# post intégrant des motifs de truchet en <canvas> #}
{% if canvas === true %}
  <script  src="/assets/scripts/{{hashes_js['truchet_dom.js']}}" defer></script>
{% endif %}
{# post  #}
{% if picture_lightbox === true %}
  <script  src="/assets/scripts/{{hashes_js['picture_lightbox.js']}}" defer></script>
{% endif %}
{% if 'blog\/' in page.url %}
  <script  src="/assets/scripts/{{hashes_js['arrowPagination.js']}}" defer></script>
{% endif %}