<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ seo.title or title }}  | {{ meta.siteName }}</title>

{#- General #}
<meta name="author" content="{{ meta.author }}"/>
{% if layout == 'post' %}
  {# TODO ajouter date https://developers.google.com/search/docs/advanced/appearance/publication-dates #}

  <meta name="description" content="{{ description | removeMD  }}"/>
{% else %}
  <meta name="description" content="{{ description | removeMD or meta.siteDescription }}"/>
{% endif %}

{#- Open Graph #}
<meta property="og:site_name" content="{{ meta.siteName }}"/>
<meta property="og:title" content="{{ seo.title or title }}"/>
<meta property="og:description" content="{{ description | removeMD or meta.siteDescription }}"/>
<meta property="og:url" content="{{meta.siteURL}}{{  page.url  }}"/>
<meta property="og:locale" content="{{ meta.locale }}"/>
{% if layout == 'post' %}
  <meta property="og:image" content="{{meta.siteURL}}/assets/generatedImages/{{collatedHeroImage}} "/>
{% else %}
  <meta property="og:image" content="{{meta.siteURL}}/{{ meta.image}}"/>
{% endif %}

{#- Twitter Card #}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="{{ meta.siteName}}"/>
<meta name="twitter:creator" content="{{ meta.author }}"/>
<meta name="twitter:title" content="{{ seo.title or title }}"/>
<meta name="twitter:description" content="{{ description or meta.siteDescription }}"/>
{#- Favicon #}
{#<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">#}
<link rel="icon" type="image/svg+xml" href="/assets/UI/favicon.svg">
<link rel="icon" type="image/png" href="/assets/UI/favicon.png" sizes="32x32">

{#- RSS Feed #}
<link type="application/atom+xml" rel="alternate"  title="RSS Feed for {{ meta.siteName }}"  href="/rss" title="{{ meta.siteName }} XML Feed">

<link rel="stylesheet" href="/assets/css/{{hashes_css['main.css']}}"/>

{% if meta.env === "production" %}
  <script  src="/assets/scripts/{{hashes_js['main.js']}}" defer></script>
  {% if layout === "post-canvas" %}
    <script  src="/assets/scripts/{{hashes_js['truchet-dom.js']}}" defer></script>

  {% endif %}

{% else %}
  <script  src="/assets/scripts/main.js" defer></script>

  <script  src="/assets/scripts/truchet-dom.js" defer></script>

{% endif %}