<header class="relative flex flex-col mb-8 dark h-max lg:flex-row hero-split lg:mb-18">
	<div class=" decor-dark bg-blue h-17/20"></div>
	<div
        class="flex flex-col m-8 lg:justify-center lg:w-1/2 lg:text-left block-dark "
      >
		<h1 data-pagefind-weight="9"
        class="mb-4 text-3xl font-semibold text-balance lg:whitespace-pre-line text-shadow-lg-dark sm:leading-none md:text-4xl xl:text-5xl"
          >
			{{ title | markdownify | safe }}
		</h1>
		{% if not hideMeta %}
			<div class="pt-4 label-sm metadata not-prose ">
				<time datetime="{{ page.date | dateHumanFormat("yyyy-MM-dd") }}">
					{{ page.date | dateHumanFormat("dd LLL yyyy") }}
				</time>
				{% include "components/separator.njk" %}
				{% include "components/tags_pills_inline.njk" %}
			</div>
		{% endif %}
	</div>
	<div
        class="flex justify-center h-auto mx-auto lg:w-1/2 img-wrapper"
      >
		<figure>
			<img
				alt="{{hero.alt}}"
				title="{{hero.alt}}"
				class="shadow-lg-dark"
				data-hero="true"
				src="{{collatedHeroImage}}"
			/>
			{% if hero.caption %}
				<figcaption class="mt-2 text-base">
					<details>
						<summary>Légende</summary>
						{{hero.caption | markdownify | safe}}
					</details>
				</figcaption>
			{% endif %}

		</figure>
	</div>
</header>