
  {# PAGINATION PRÉCÉDENT / SUIVANT #}

  <nav class="relative flex flex-col gap-12 px-4 text-xl block-dark md:text-2xl post-pagination lg:px-4 md:flex-row md:justify-between ">
    <div class="h-full decor-dark bg-blue-light"></div>
    <div id="pagination-left" class="lg:w-1/2l ">
        {% if pagination.href.previous %}
              <a class="relative flex flex-col justify-between w-full h-full gap-3 text-shadow-lg-dark sm:w-auto sm:gap-4 sm:py-0 " href="{{ previousPost.url  }}">
                <p>Aller page {{pagination.pageNumber-1}}</p>
                <img  loading="lazy" alt="" class="self-start rotate-180 w-[14px]" src="/assets/UI/pointe.svg">

              </a>
            {% endif %}
    </div>
    <div id="pagination-right" class="lg:w-1/2 ">
  {% if pagination.href.next %}
        <a class="relative flex flex-col justify-between w-full h-full gap-3 text-right text-shadow-lg-dark sm:w-auto sm:gap-4 sm:py-0 " href="{{ nextPost.url }}">
          <p>Aller page {{pagination.pageNumber+1}}</p>
          <div  alt="" class="self-end w-[14px] " src="/assets/UI/pointe.svg">
        </a>
      {% endif %}
    </div>
</nav>
