{# PAGINATION PRÉCÉDENT / SUIVANT #}

<nav class="relative flex flex-row gap-12 mt-16 text-xl block-dark md:text-2xl post-pagination space-between ">
	<div class="h-full decor-dark bg-roi-light"></div>

	<div id="pagination-left" class="w-1/2 px-2 py-8 md:py-6 md:px-0">
		{% if pagination.href.previous %}

			{% set startYear = pagination
				.page
				.previous[0]
				.date %}
			{% set finalYear = pagination
        .page
        .previous[pagination.page.previous.length - 1]
        .date %}

			<a class="relative flex flex-col justify-between w-full h-full gap-3 text-shadow-lg sm:w-auto sm:gap-4 sm:py-0 " href="{{ pagination.href.previous }}">
				<span>{{startYear | year}}–{{finalYear | year}}</span>
				<svg class="self-start rotate-180 w-[14px]" viewBox="0 0 21 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="fill-white" fill-rule="evenodd" clip-rule="evenodd" d="M0.56763 27C3.63365 27 21 16.7118 21 13.5C21 10.2882 3.63365 0 0.56763 0C-2.49839 0 7.85531 6.04416 7.85531 13.5C7.85531 20.9558 -2.49839 27 0.56763 27Z"/>
				</svg>

			</a>
		{% endif %}
	</div>

	<div id="pagination-right" class="w-1/2 px-2 py-8 md:py-6 md:px-0">
		{% if pagination.href.next %}

			{% set startYear = pagination
				.page
				.next[0]
				.date %}
			{% set finalYear = pagination
        .page
        .next[pagination.page.next.length - 1]
        .date %}

			<a class="relative flex flex-col justify-between w-full h-full gap-3 text-right text-shadow-lg sm:w-auto sm:gap-4 sm:py-0 " href="{{ pagination.href.next }}">
				<span>{{startYear | year}}–{{finalYear | year}}</span>
				<svg  alt=""  class="self-end w-[14px]" viewBox="0 0 21 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="fill-white" fill-rule="evenodd" clip-rule="evenodd" d="M0.56763 27C3.63365 27 21 16.7118 21 13.5C21 10.2882 3.63365 0 0.56763 0C-2.49839 0 7.85531 6.04416 7.85531 13.5C7.85531 20.9558 -2.49839 27 0.56763 27Z"/>
				</svg>

			</a>
		{% endif %}
	</div>
</nav>