<div
class="flex flex-col prose-tcqb"
	x-data="{niveauDeLangue, state: niveauDeLangue[1].description}"
>
	<div class="inline-flex flex-col w-3/4 mx-auto mt-2 overflow-hidden bg-cream sm:mx-0 rounded-xl sm:rounded-full sm:flex-row light md:w-max">
		<template x-for="radio in niveauDeLangue">
			<div
		>
				<input
					type="radio"
					class="hidden"
					:id="radio.id"
					:value="radio.description"
					:name="name"
					x-model="state"
					aria-controls="tabPanel"
				/>
				<label
				:for="radio.id"
				class="block px-5 py-2 text-lg text-center cursor-pointer rounded-xl sm:rounded-full hover:bg-brown-light hover:text-white"
				x-text="radio.label"
				></label>
			</div>
		</template>
	</div>
	<p class="" id="tabPanel" x-text="state"></p>
</div>
<script src="//unpkg.com/alpinejs" defer></script>
<script >
const niveauDeLangue = [
	{ id: "radio-tab-a", label: "Réponse tendance", description: "Quelqu'un qui invoque les pouvoirs de la Créativité pour créer des CX holistiques et des interfaces delightful." },
	{ id: "radio-tab-b", label: "Réponse terre à terre", description: "Quelqu'un qui aide à créer des systèmes à peu près robustes, utiles et utilisables." },
	{ id: "radio-tab-c", label: "Réponse effacée", description: "Quelqu'un qui pose des carrés gris dans Figma et des post-its sur les murs." },
]
</script>


