<li class="relative transition-all duration-300 shadow cursor-pointer card-base hover:shadow-md">

	<img
		class="object-cover w-1/3 h-40 rounded-l-md"
		onclick="window.location.href='{{post.url}}'"
		loading="lazy"
		alt="{{post.data.hero.alt}}"
   		src="{{  post.data.hero.image if post.data.hero.image else  'truchet-'+ post.data.page.fileSlug + '.png' }}"
              >

	<div class="w-2/3">
		{% if page.fileSlug == 'home' %}
			{% set hx = '3' %}
		{% else %}
			{% set hx = '2' %}
		{% endif %}

		<h{{hx}} class="my-3 sm:my-4 {{ 'cta-heading' if page.fileSlug == 'home' else 'cta-heading2' }}">
			<a
			href="{{ post.url }}"
			class="block hover:underline hover:text-accent2">
				{{ post.data.title }}
			</a>
		</h{{hx}}>

		{% if postListItemStyle.complete %}
			<time class="text-lg label lg:my-2" datetime="{{ post.data.page.date | dateToFormat("yyyy-MM-dd") }}">
				{{ post.data.page.date | dateToFormat("dd LLLL yyyy") }}
			</time>

			{% if post.data.description or post.data.page.description %}
				<span class="inline mx-2 text-xl font-light text-gray-500 " >~</span>
				<span class="text-lg label ">
					{{ post.data.description |  removeMD}}
				</span>
			{% endif %}
		{% endif %}

	</div>
</li>