<section id="post-list"  class="mt-8 post-wrapper ">
	<div class=post-list-wrapper>
		<ul class="post-list">
			{% for post in postslist %}
				{% if postListItemStyle.complete %}
					{% include 'components/postlistitem.njk' %}
				{% else %}
					<li class="mb-8">
						<H2 class="cta-heading">
							<a href="{{meta.siteURL}}{{ post.url }}" class="block hover:underline">
								{{ post.data.title }}
							</a>
						</H2>
						<time class="block label " datetime="{{ post.data.page.date | dateToFormat("yyyy-MM-dd") }}">
							{{ post.data.page.date | dateToFormat("dd LLLL yyyy") }}
						</time>
					</li>
				{% endif %}
			{% endfor %}
		</ul>

		{# ===== Paginate based on "size" frontmatter value above =====  #}
		{# Don't even include the pagination component if there are fewer posts than needed to paginate  #}
		{% if (collections.publishedPosts.length > pagination.size) and (postListItemStyle.showPagination) %}

			{% include "components/pagination.njk" %}
		{% endif %}
	</div>
	<ul class="search-list" ></section>