<li	class="relative flex flex-col md:flex-row card-base "
	>
	<img
	onclick="window.location.href='{{post.url}}'"
		class="cursor-pointer object-cover w-full h-auto sm:max-h-52 md:min-h-[10rem] min-h-[12rem] xl:max-h-44 rounded-t-md md:w-1/3 max-h-40 md:rounded-l-md md:rounded-r-none "
		loading="lazy"
		alt="{{post.data.hero.alt}}"
   		src="{{  post.data.hero.image if post.data.hero.image else  'truchet-'+ post.data.page.fileSlug + '.png' }}"
              >

	<div
	class="flex flex-col m-6 mt-0 sm:gap-6 md:my-0 md:ml-0 md:mr-4 md:w-2/3 ">
		{% if page.fileSlug == 'home' %}
			{% set hx = '3' %}
		{% else %}
			{% set hx = '2' %}
		{% endif %}

		<h{{hx}} class=" {{ 'cta-heading' if page.fileSlug == 'home' else 'cta-heading2' }}">
			<a
			href="{{ post.url }}"
			class="block hover:underline hover:text-accent2">
				{{ post.data.title }}
			</a>
		</h{{hx}}>

		{% if postListItemStyle.complete %}

			<div class="">
				<time class="text-base label lg:my-2" datetime="{{ post.data.page.date | dateToFormat("yyyy-MM-dd") }}">
					{{ post.data.page.date | dateToFormat("dd LLLL yyyy") }}
				</time>
				{% if post.data.description or post.data.page.description %}
					<span class="inline mx-1 text-xl font-light text-gray-500 md:mx-2 " >~</span>
					<span class="text-base label ">
						{{ post.data.description |  removeMD}}
					</span>
				{% endif %}
			</div>
		{% endif %}

	</div>
</li>