<section id="post-list" class="mt-8 post-wrapper ">
	<div class=post-list-wrapper>
		<ul class="flex flex-col gap-6 my-10 sm:gap-8 md:gap-6 post-list ">
			{% for post in postslist %}
			{% include 'components/posts_list_item.njk' %}
			{% endfor %}
		</ul>

		{% if (collections.publishedPosts.length > pagination.size) and (postListItemStyle.showPagination) %}
		{% include "components/pagination.njk" %}
		{% endif %}
	</div>
	<ul class="flex-col hidden my-10 md:gap-6 search-list post-list">
</section>