<li class="flex my-12">
	<img onclick="window.location.href='{{post.url}}'"  loading="lazy" alt="{{post.data.hero.alt}}"
				src="{{  post.data.hero.image if post.data.hero.image else  'truchet-'+ post.data.page.fileSlug + '.png' }}"
				>
	<div>

		{# Post Title  #}
		<h2 class="mb-1 leading-6 lg:mb-3 cta-heading">
			<a href="{{ post.url }}" class="block hover:underline">
				{{ post.data.title }}
			</a>
		</h2>
		<time class=" label lg:my-2" datetime="{{ post.data.page.date | dateToFormat("yyyy-MM-dd") }}">
			{{ post.data.page.date | dateToFormat("dd LLLL yyyy") }}
		</time>

		{% if post.data.description or post.data.page.description %}
			<span class="inline mx-2 text-xl font-light text-gray-500 " >~</span>
			<span class="label">
				{{ post.data.description |  removeMD}}
				{{ post.data.page.description | removeMD }}
			</span>
		{% endif %}
	</div>
</li>
{% if not loop.last %}
	<hr class="hidden my-4 container-full sm:block">
{% endif %}