<section id="post-list-container" class="mt-8 ">

	<ul class="flex flex-col gap-6 my-10 sm:gap-8 md:gap-6 post-list ">
		{% for post in postslist %}
			{% include 'components/posts_list_item.njk' %}
		{% endfor %}
	</ul>

	{# hook for search results populated by search_front.js  #}
	<ul class="flex-col hidden my-10 md:gap-6 post-list"></ul>

	{% if (collections.publishedPosts.length > pagination.size) and (postListItemStyle.showPagination) %}
		{% include "components/pagination.njk" %}
	{% endif %}

</section>