<ul class="flex flex-wrap items-center mb-8 -mt-2 tagpills">
  {% for tag in tags %}
    {% set tagValue = tag[0] %}
    {% set tagCount = tag[1] %}
    {# Knock out the first iteration of the loop to drop the default "post" tag generated in `posts/posts.json`. #}
    {% if not loop.first %}
      <li class="inline-block my-3 sm:my-2 min-w-1/2 sm:min-w-min">
        <a  href="{{ '/tags/' | url}}{{tagValue | slugify  }}/"
        class=" hover:text-accent hover:underline label text-accent2">{{ tagValue | capitalize}}
        </a>
        <span class="">❨{{tagCount}}❩</span>
        {% if not loop.last %}
          <span aria-hidden="true" class="hidden mx-4 text-xl font-light text-gray-500 sm:inline " >~</span>
        {% endif %}

      </li>

    {% endif %}

  {% endfor %}
</ul>