<ul class="inline tagpills">
  {% for tag in tags %}
      <li class="inline-block my-auto">
        <a title="mot clé {{ tag }}" aria-label="mot clé {{ tag }}" href="{{ '/tags/' | url}}{{tag | slugify  }}/"
        class="link-hover">{{ tag | capitalize}}</a>
        {% include "./separator.njk" %}
      </li>
  {% endfor %}
</ul>