<ul class="flex flex-wrap items-center mb-8 tagpills">
  {% for tagName, tagCount in tags %}

    <li class="inline-flex gap-2 sm:my-2 min-w-1/2 sm:min-w-min">
      <div>
        <a  href="{{ '/tags/' | url}}{{tagName | slugify  }}/"
          class=" hover:text-red-700 hover:underline label text-brown-light">{{ tagName | normalizeTag }}
        </a>
        <span class="">❨{{tagCount}}❩</span>
      </div>

      <div class="hidden sm:inline">
				{% include "components/separator.njk" %}
      </div>

    </li>

  {% endfor %}
</ul>