<ul class="flex flex-wrap items-center mb-8 -mt-2 tagpills">
  {% for tagName, tagCount in tags %}

      <li class="inline-block my-3 sm:my-2 min-w-1/2 sm:min-w-min">
        <a  href="{{ '/tags/' | url}}{{tagName | slugify  }}/"
        class=" hover:text-accent hover:underline label text-accent2">{{ tagName | normalizeTag }}
        </a>
        <span class="">❨{{tagCount}}❩</span>
        {% if not loop.last %}
          <span aria-hidden="true" class="hidden mx-4 text-xl font-light text-gray-500 sm:inline " >~</span>
        {% endif %}

      </li>


  {% endfor %}
</ul>