<ul class="inline tagpills">
  {% for tag in tags %}
    <li class="inline-block my-auto">
      <a data-pagefind-weight="5"title="mot clé {{ tag }}" aria-label="mot clé {{ tag }}" href="/tags/{{tag | slugify }}/"
        class="link-hover">{{ tag | normalizeTag}}</a>
      {% include "components/separator.njk" %}
    </li>
  {% endfor %}
</ul>