{# PAS DE LIGNE VIDE #}
<ul class="zotero-list UI">
	{% for item in items %}
		<li x-data="{ open: false }" class="mb-4 text-lg">
			<a href="{{item.url}}" class="font-medium no-underline  hover:underline">{{item.title}}</a>
			<div class="text-base">
				{% if item.parsedDate and item.itemType !== "webpage" %}
					<span>{{item.parsedDate | dateToFormat("yyyy") }}</span>
				{% endif %}
				{% if item.parsedDate and item.abstractNote and item.itemType !== "webpage" %}
					<span class="mx-2">—</span>
				{% endif %}
				{% if item.abstractNote %}
					<button class="underline" @click="open = !open">Résumé</button>
				{% endif %}
			</div>
			{% if item.abstractNote %}
				<div class="text-base" x-show="open">{{item.abstractNote}}
				</div>
			{% endif %}
		</li>
	{% endfor %}
</ul>