<div class="flex flex-wrap items-center mb-8 -mt-2 tagpills">
  {% for tag in tags %}
    {% set tagValue = tag[0] %}
    {% set tagCount = tag[1] %}
    {# Knock out the first iteration of the loop to drop the default "post" tag generated in `posts/posts.json`. #}
    {% if not loop.first %}
      <div class="inline-block my-3 sm:my-2 min-w-1/2 sm:min-w-min">
        <a title="mot clé {{ tagValue }}" aria-label="mot clé {{ tagValue }}" href="{{ '/tags/' | url}}{{tagValue | slug  }}/"
        class=" hover:text-accent hover:underline label text-accent2">{{ tagValue[0]|upper}}{{tagValue.slice(1)}}
        </a>
        <span class="">❨{{tagCount}}❩</span>
        {% if not loop.last %}
          <span class="hidden mx-4 text-xl font-light text-gray-500 sm:inline " >~</span>
        {% endif %}

      </div>

    {% endif %}

  {% endfor %}
</div>