<!DOCTYPE html>
<html lang="fr" class="font-sans">
	<head>
		{%- include "components/head.njk" %}

	</head>
	<body
  class="template-{{layout}} page-{{page.fileSlug}} text-gray-900 sans min-h-screen mx-auto container-2xl">

		{% include "components/nav.njk" %}

		<main
      id="content"
       class="relative flex-grow block max-w-full transition-all duration-300 ease-out sm:px-per-lg px-per" id="content">
			{{ content | safe }}
		</main>
		{% include "components/footer.njk" %}

		{% if richPicture === true %}

			<style>
				{% include "../../../node_modules/photoswipe/dist/photoswipe.css" %}
			</style>
			<script  src="/assets/scripts/{{hashes_js['richPicture.js']}}" defer></script>
		{% endif %}

		{% for tag in tags %}
			{% if tag === "post" %}
				<script  src="/assets/scripts/{{hashes_js['arrowPagination.js']}}" defer></script>
			{% endif %}
		{% endfor %}

	</body>
</html>