<!DOCTYPE html>
<html lang="fr" class="font-sans">
	<head>
		{%- include "components/head.njk" %}

	</head>
	<body
  class="template-{{layout}} page-{{page.fileSlug}} text-gray-900 sans min-h-screen mx-auto container-2xl">
		<div >
			<a class="-top-[10000px] absolute focus:top-0 m-4 focus:static underline" href="#content">Accéder au contenu</a>
		</div>
		{% include "components/nav.njk" %}
{# //TODO : marges latérales doivent être égales à celles du header. #}
		<main
      id="content"
	  role="main"
       class="relative flex-grow block max-w-full transition-all duration-300 ease-out sm:px-per-lg px-per" id="content">
			{{ content | safe }}
		</main>
		{% include "components/footer.njk" %}

	</body>
</html>