---
layout: base
---

<div class="mb-16 text-xl 2xl:text-2xl lg:mx-auto template-post">
	<div class="layout-wide md:mb-16 ">
		{% include 'components/header_hero_image.njk' %}
	</div>

	{{ content | safe }}
</div>