---
layout: base
tags: pages
---

<div class="max-w-6xl my-16 mx-auto lg:max-w-7xl 2xl:max-w-9xl page ">
  <h1 class="lg:my-20 md:my-12 my-8 text-3xl text-gray-700 lg:text-5xl ">{{ seo.title or title }}
  </h1>

  {% if seo.description %}
    <div class="{{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">
      {{ seo.description }}
    </div>
  {% endif %}

  {{ content | safe }}

</div>