---
layout: base
tags: pages
---

<div class="max-w-6xl py-12 mx-auto xl:max-w-9xl page ">
  <h1 class="text-gray-700 ">{{ seo.title or title }}
  </h1>
  <hr class="my-8">

  {% if seo.description %}
    <div class="{{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">
      {{ seo.description }}
    </div>
  {% endif %}

  <div class="">{{ content | safe }}</div>

</div>