---
layout: base
tags: pages
---

<div class="max-w-6xl py-12 mx-auto xl:max-w-9xl page ">
  <h1 class="my-20 text-gray-700  lg:text-4xl text-3xl ">{{ seo.title or title }}
  </h1>

  {% if seo.description %}
    <div class="{{ colors.borderCustom.borders or colors.borderDefault.borders }} {{ colors.borderCustom.color or colors.borderDefault.color }}">
      {{ seo.description }}
    </div>
  {% endif %}

  {{ content | safe }}

</div>