---
layout: base
---

{# TODO : avoir systématiquement une image de vignette pour twitter #}
<div class="template-post-main">
	{% if hero.image %}
		{% set heroComponent = ['components/hero-', hero.type, '.njk'] %}
		{% include heroComponent | join %}
	{% else %}
	{% endif %}

	<article class="post-main  my-20 prose lg:prose-xl prose-lg article {{ structure.g_proseWidth }}">

		{% if not hero.image %}
			<header class="">
				<h1 class="text-gray-700">{{ title }}</h1>
				<div class="text-sm UI sm:text-base">
					<time datetime="{{ page.date | dateHumanFormat("yyyy-MM-dd") }}">
						{{ page.date | dateHumanFormat("dd LLLL yyyy") }}
					</time>
					{% include "components/tagpills-inline.njk" %}

				</div>
			</header>
		{% endif %}
		<div class="my-16 post-main">{{ content | safe }}</div>
	</article>

	{% set nextPost = collections.publishedPosts | getPreviousCollectionItem(page) %}
	{% set previousPost = collections.publishedPosts | getNextCollectionItem(page) %}

	<footer class="relative mt-16 text-xl d-mb-10 md:text-2xl lg:3xl ">
		<div class="h-full decor-dark bg-dark-lighter"></div>
		{# ===== Previous and Next =====  #}
		<div class="relative flex flex-col gap-12 px-4 py-12 post-pagination lg:py-12 lg:px-4 md:flex-row md:justify-between">
			<div id="pagination-left" class="lg:w-1/2l ">
				{% if previousPost %}
					<a class="relative flex flex-col justify-between h-full gap-3 text-white sm:w-auto w-max sm:gap-4 sm:py-0 hover:underline text-shadow-lg-dark hover:text-accent2" href="{{ previousPost.url | url }}">
						<div>{{ previousPost.data.title }}</div>
						<img  class="self-start rotate-180 w-[14px]" src="/assets/UI/pointe.svg">

					</a>
				{% endif %}
			</div>
			<div id="pagination-right" class="lg:w-1/2 ">
				{% if nextPost %}
					<a class="relative flex flex-col justify-between h-full gap-3 text-right text-white sm:w-auto w-max sm:gap-4 sm:py-0 hover:underline text-shadow-lg-dark hover:text-accent2" href="{{ nextPost.url | url}}">
						<div>{{ nextPost.data.title }}</div>
						<img  class="self-end w-[14px] " src="/assets/UI/pointe.svg">

					</a>
				{% endif %}
			</div>
		</div>
	</footer>
</div>

{#  TODO liste de post liés à la fin d'un post #}