---
title: "Désolé j'ai vraiment cherché partout"
layout: page
permalink: erreur.html
eleventyExcludeFromCollections: true

---

<div class="prose prose-xl">
	<p class="prose-2xl">Sinon les articles sont tous sur <a href="/blog">cette page</a>. Bon courage dans votre quête.</p>

	<img alt="Bugs Bunny disant "Je savais que j'aurais du tourner à gauche à Alburquerque"
src="/assets/UI/bugs.png" class="w-2/3 mx-auto">

</div>
