---json
{
  "permalink": "rss",
  "eleventyExcludeFromCollections": true,
  "eleventyNavigation":{
    "key": "main",
    "title": "RSS",
    "order": "2"
  }
}

---
{# set absolutePageURL to use later in  canonical and og URLs #}

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ meta.siteName }}</title>
	<subtitle>{{ meta.siteDescription }}</subtitle>
	<link href="{{ meta.siteURL }}"/>
	<link href="{{ meta.siteURL }}/rss" rel="self"/>
	<updated>{{ collections.publishedPosts | rssLastUpdatedDate }}</updated>
	<id>{{ meta.siteURL }}</id>
	<author>
		<name>{{ meta.authorName }}</name>
		<email>{{ meta.authorEmail }}</email>
	</author>
	{%- for post in collections.publishedPosts | reverse | slice(0, 20) %}
		{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(meta.siteURL) }}{% endset %}
		<entry>
			<title>{{ post.data.title }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<updated>{{ post.date | dateToRfc3339 }}</updated>
			<id>{{ absolutePostUrl }}</id>
			<content type="html">{{ post.templateContent | safe | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
		</entry>
	{%- endfor %}
</feed>