---
layout: base
title: "Baptiste,&NewLine; 34 ans ½,&NewLine; designer [ux]{.small-caps}"
hero:
  type: split
  image: banner.png
  alt: "échelles de note montrant mes compétences. 'Test utilisateur' est bien noté, 'design graphique' est mal noté,  'faire valider une page d'accueil du premier coup' est très bien noté. Et 'modestie' est même noté 6/5"
picture_lightbox: true
eleventyNavigation:
  key: main
  title: Portfolio
  order: 3
---


<div class="mb-16 text-xl 2xl:text-2xl lg:mx-auto template-post-main">


  <div class="layout-wide md:mb-16 ">

  {% include 'components/hero_split.njk' %}</div>


    <div class="flex flex-col gap-12 my-20 lg:gap-16 sections ">
      <section class="flex flex-col ">
        {% MD %}## C'est quoi un designer [ux]{.small-caps} ?{% endMD %}

        {% include "components/portfolio_tabs.njk" %}

        {% MD %}
## Mais encore ?

Y a en gros quatre étapes :

1. *Étudier* les utilisateurs et le contexte du service
2. Pour *imaginer* des services adaptés aux gens
3. … Les *traduire* en interfaces
4. Et *tester* tout ça auprès des utilisateurs -- la boucle est bouclée.

## Mais pourquoi ?

Notamment parce que connaitre ses cibles et leur dédier des services adaptés, ça marche. Un contre-exemple : les [lignes de désir](https://fr.wikipedia.org/wiki/Ligne_de_d%C3%A9sir) et les vaines tentatives pour les encadrer.

!['barrière posée devant un chemin naturellement creusé à travers une pelouse'](/assets/images/ligne_désir.jpg)

## Et moi là-dedans

Je suis un designer UX polyvalent avec un certain penchant pour les défis fonctionnels, mettre en place des études utilisateur avec une méthodo aux petits oignons et mener des ateliers à gros enjeux.

Mentionnons également un certain goût pour les [systèmes complexes](/tags/systemes-complexes/), [pour utiliser mes outils à fond](/tags/prototypage) et pour faire le pont [entre théorie et pratique](/tags/sciences-cognitives/).

En bonus je fais aussi :
  - des audits en accessibilité
  - [des interventions à Épitech](http://misc.toutcequibouge.net/epitech)
  - [du code en dilettante](https://toutcequibouge.net/projets/)

Intéressé-e ?

[Contactez-moi](/contact){.cta} {.not-prose}

        {% endMD %}
      </section>


        {# TOOLS #}

        <section class="tools">
      {% MD %}## Mes outils {.cta-heading}{% endMD %}

        <div class="flex flex-wrap justify-start gap-10 md:justify-center md:flex-row layout-wide">
            {% for tool in tools %}
              <div class="flex flex-col items-center justify-between gap-2 ">
                <span class="text-xl leading-5 text-center w-min">{{tool.name}}</span>
                  <img class="w-[5.5rem] md:w-24 shadow-md rounded-[22px]" src="{{tool.logo}}" alt="">
              </div>
            {% endfor %}
          </div>

      </section>

        {# PROJETS #}

      <section class="">
        {% MD %}## Quelques projets {.cta-heading}{% endMD %}

        <ul class="flex flex-col gap-8 m-auto md:gap-16 post-list layout-wide project-list">
          {% for ref in references%}
              <li class="flex-col card-base p-7 lg:p-12 ">
                <div class="w-full gap-4 m-0 md:gap-0 block-heading-split">
                  <h3 class="order-1 sm:order-0 cta-heading">{{ref.title}}</h3>
                  <img src="{{ref.logo}}" class="h-auto order-0 sm:order-1 w-22 md:w-28" alt="{{ref.name}}">
                </div>

                {# DÉTAILS #}
                <div class="flex flex-col justify-between gap-6 md:grid lg:gap-8 details ">
                  <div class="flex flex-col gap-5 lg:gap-7">
                    {% if ref.description %}
                    <dl>
                      <dt>C'est quoi</dt>
                      <dd>{{ref.description | markdownifyBlock | safe}}</dd>
                    </dl>
                    {% endif %}


                    {% if ref.duration %}
                    <dl>
                      <dt>Durée</dt>
                      <dd>{{ref.duration if ref.duration}}</dd>
                    </dl>
                    {% endif %}

                    {% if ref.tasks %}
                    <dl>
                      <dt>Ce que j'ai fait</dt>
                      <dd>
                          <ul class="inline tagpills">
                              {% for task in ref.tasks %}
                                  <li class="inline-block my-auto">
                                    {{ task }}
                                    {% include "components/separator.njk" %}
                                  </li>
                              {% endfor %}
                          </ul>
                      </dd>
                    </dl>
                    {% endif %}

                    {% if ref.note %}
                    <dl>
                      <dt>Remarque</dt>
                      <dd>{{ref.note if ref.note}}</dd>
                    </dl>
                    {% endif %}

                    <div class="not-prose">
                      {% if  ref.CTA %}
                      <a href="{{ref.CTALink}}" class="w-full mx-auto sm:w-3/5 lg:w-2/5 cta">{{ref.CTA}}</a>
                      {%else %}
                      <div class="w-full mx-auto text-gray-800 bg-gray-300 sm:w-3/5 lg:w-2/5 hover:bg-gray-400 cta">En cours ou confidentiel</div>
                      {% endif %}
                    </div>

                  </div>
                  <div class="flex flex-row flex-wrap gap-3 m-auto rich-picture ">
                     {% for photo in ref.photos %}
                        <figure class=""><img class="w-auto shadow-md"  src="{{photo.url}}" alt="{{photo.alt}}"></figure>
                      {% endfor %}

                    </div>
                </div>
              </li>

        {% endfor %}
        </ul>
      </section>


      {# CLIENTS #}

      <section class="clients">
        {% MD %}## Clients principaux {.cta-heading}{% endMD %}

        <div class="flex-col items-start p-7 lg:p-12 card-base hover:shadow layout-wide">
          <ul class="flex flex-col items-start gap-8 " >
          {% for client in clients %}

            <li class="flex flex-col w-full gap-4 m-0 list-none md:flex-row md:gap-7">
              <span class="text-xl font-medium list-none md:text-right text-accent3 sector basis-1/4 shrink-0 ">{{client.sector}}</span>
              <ul class="flex flex-row flex-wrap m-0 md:items-center gap-y-2 gap-x-2 xl:gap-x-3 " >
                    {% for item in client.list %}
                <li class="m-0 text-xl list-none ">
                  {{item}}
                </li>
                {% if not loop.last %}
                <span aria-hidden="true" class="text-xl " >~</span>
                {% endif %}
                    {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>


